* {
    margin: 0;
    padding: 0;
    font-family: PT Root UI;
    font-style: normal;
    outline: none;
}


.separator {
    border-top: 1px solid #ccc; /* Серая горизонтальная линия */
    width: 100%; /* Растягиваем по всей ширине контейнера */
    margin-top: 20px; /* Отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */
}

.box {
    display: flex;
}

.icon-wrap {
    width: 40px;
}

.content-footer-info{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.content-social {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 100px;
    padding: 4px 12px 4px 4px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1c1b1f;
}

.icon-social {
    width: 35px;
    height: 35px;
    margin-right: 6px;
}

.tiny-grey{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #526070;
}

.address-links{
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.address-link{
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 100px;
    padding: 4px 12px 4px 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1c1b1f;
}

.icon{
    border: 1px solid #526070;
    border-radius: 24px;
    width: 34px;
    height: 34px;
    margin-right: 8px;
}

.place-at-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #526070;
}

.contact-phone {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #1c1b1f;
}

.set-language {
    background: #f1f2f4;
    border: .5px solid #e8e8e8;
    padding: 6px 10px 6px 8px;
    border-radius: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1c1b1f;
}

/* ======================================= */

.home-welcome {
    background: linear-gradient(180deg, rgba(0, 0, 0, .24), rgba(0, 0, 0, .64)), url('https://www.janapost.kz/img/welcomeBg.9624c745.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 40px 16px;
    border-radius: 24px;
    width: 100%;
}

.welcome-block {
    max-width: 588px;
    margin: 0 auto;
    text-align: center;
}

.img {
    border-style: none;
    vertical-align: middle
}

.text-welcome {
    font-size: 46px;
    line-height: 60px;
    color: white;
}

.observation-input {
    margin-top: 12px;
    padding: 5px 5px 5px 12px;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 16px;
    box-shadow: 0 12px 32px rgba(42, 70, 94, .03);
    border-radius: 12px;
}

.input-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input {
    width: 100%;
    border: none;
}

.label {
    color: #526070;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    width: 100%;
}

.observation-btn {
    padding: 12px;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    text-align: center;
    background: #1b8918;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    min-width: 101px;
}
